{% extends "base.html" %}
{% load staticfiles %}

{% block content %}



<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
              <div class="col-sm-5">
                  <h1>HiPy</h1>
                  <div class="social-links">
                      <a href="https://facebook.com/hipyliv" target="_blank"><i class="fa fa-facebook-square fa-3x sm-icon" aria-hidden="true"></i></a>
                      <a href="https://twitter.com/hipyliv" target="_blank"><i class="fa fa-twitter-square fa-3x sm-icon" aria-hidden="true"></i></a>
                      <a href="https://github.com/hipyliv" target="_blank"><i class="fa fa-github-square fa-3x sm-icon" aria-hidden="true"></i></a>
                  </div>
              </div>
              <div class="col-sm-7">
                  <h2>Next Meet: <strong>Wed 25 Aug, Central Teaching Labs, G-flex, 3pm</h2>
              </div>
          </div>
      </div>
  </div>
</div>

<div class = "container">
   <div class="row">
       <div class="col-md-10 col-md-offset-1">
           <div class="col-md-6">
               <h2>Coming Up...</h2>
               <p>We're changing things for the next #HiPyLiv meet. In response to the feedback we've received from the hive we've designed a series of "micro-challenges" that will suit all levels of ability - from absolute beginner to seasoned Python veteran.<p>
               <p>A few examples of the challenges include</p>
               <ul>
                   <li>Roman Numeral Generator</li>
                   <li>Palendrome Checker</li>
                   <li>Data Chunker</li>
               </ul>
               <p>Keep an eye on our GitHub repo for resources. We'll be adding more closer to the meet</p>
               <a type="button" class="btn btn-warning" href="https://github.com/hipyliv/micro-challenge">Click for Micro Challenges</a>
           </div>
           <div class="col-md-6">
               <a class="twitter-timeline" data-height="650" data-link-color="#FAB81E" href="https://twitter.com/hipyliv">Tweets by hipyliv</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
       </div>
   </div>
</div>

<div class = "container">
   <div class="row" style="text-align: center; color: grey">
       <hr>
       <p>Copyright HiPy 2016</p>
   <div>
</div>


{% endblock %}
