{% extends "base.html" %}
{% load staticfiles %}

{% block content %}



<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
              <div class="col-sm-5">
                  <h1>HiPy</h1>
                  <div class="social-links">
                      <a href="https://facebook.com/hipyliv" target="_blank"><i class="fa fa-facebook-square fa-3x sm-icon" aria-hidden="true"></i></a>
                      <a href="https://twitter.com/hipyliv" target="_blank"><i class="fa fa-twitter-square fa-3x sm-icon" aria-hidden="true"></i></a>
                      <a href="https://github.com/hipyliv" target="_blank"><i class="fa fa-github-square fa-3x sm-icon" aria-hidden="true"></i></a>
                  </div>
              </div>
              <div class="col-sm-7">
                  <h2>Next Hive: <strong>Wed 7 Sept, CTL-6 (first floor), from 3pm</strong></h2>
              </div>
          </div>
      </div>
  </div>
</div>

<div class = "container">
   <div class="row">
       <div class="col-md-10 col-md-offset-1">
           <div class="col-md-6">
               <h2>HiPy #04</h2>
               <p>This week, while it's quiet, we'll be continuing with our "micro-challenges" which seemed to go down well last time. Have fun working through them in pairs or groups. If you have any suggestions for future cchallenges then let us know.</p>
               <p>This will be the last HiPy before we take a short break to take stock and revamp ourselves a bit. Thanks to all of you who have attended our meets so far and for making our initiative a success!</p>
               <p>HiPy will return in early October with a fresh lick of paint but with the same objective of forming an open and welcoming community anyone who wants to learn Python.</p>
               <p>
               <a type="button" class="btn btn-warning" href="https://github.com/hipyliv/micro-challenge">Click for Micro Challenges</a>
               <h2>Feedback</h2>
               <a type="button" class="btn btn-warning" href="https://docs.google.com/forms/d/e/1FAIpQLSfZnl22ja33Q4pRyiovBmYRLGr0BziHg417FSutKKmQM3B2ig/viewform?c=0&w=1">Give Feedback</a>
               <a type="button" class="btn btn-warning" href="https://docs.google.com/forms/d/e/1FAIpQLSfZnl22ja33Q4pRyiovBmYRLGr0BziHg417FSutKKmQM3B2ig/viewanalytics?usp=form_confirm">Read Feedback</a>
               <h2>Mailing List</h2>
               <p>To receive news of upcoming events then please click the button below.</p>
               <a type="button" class="btn btn-warning" href="http://facebook.us13.list-manage.com/subscribe?u=4e0bdf2a98cdf2f606d797196&id=3465e23e7b">Sign Up</a>

           </div>
           <div class="col-md-6">
               <a class="twitter-timeline" data-height="650" data-link-color="#FAB81E" href="https://twitter.com/hipyliv">Tweets by hipyliv</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
       </div>
   </div>
</div>

<div class = "container">
   <div class="row" style="text-align: center; color: grey">
       <hr>
       <p>Copyright HiPy 2016</p>
   <div>
</div>


{% endblock %}
