/* HEADER */

.jumbotron {
    background-color: orange;
    color: white;
}

.jumbotron a {
    color: white;
}

.jumbotron a:hover {
    color: yellow;
}

.jumbotron h1 {
    font-size: 8em;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.social-links {
    margin-left: 10px;
    }
